@font-face {
    font-family: 'Terminus';
    src: url('../Terminus.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Terminus", monospace;
    text-align: center;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0.25em;
}
.file {
    cursor: pointer;
    background-color: #111111;
    color: #FFFFFF;
    border: none;
    border-radius: 1.5vh;
    width: 90%;
    height: 3%;
    padding: 0.5% 1.5%;
    margin: 0.5%;
    font-size: 3vh;
    font-family: "Terminus", monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.file:hover {
    background-color: #222222;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filename {
    width: 30vw;
    text-align: left;
    text-wrap: none;
}

.date {
    width: 20vw;
    text-align: left;
    text-wrap: none;
}

.size {
    width: 30vw;
    text-align: right;
    text-wrap: none;
}

.path {
  margin: 0;
}



.path:hover, .filename:hover, .date:hover, .size:hover {
  text-decoration: underline;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

pre.file {
  margin-bottom: 5vh;
}

#file-label {
  justify-content: center;
}